*{
    margin: 0;
    padding: 0;
}
.container{
    width: 1250px;
    margin: 0 auto;
}
.box{
    display: flex;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
/*================
navbar start
============== */
nav{
    background-color: #FAE3B6;
    padding: 47px 0;
}
nav .container .box{
    justify-content: space-between;
    align-items: center;
}
nav .container ul{
    display: flex;
    column-gap: 59px;
}
nav .container ul li a{
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: black;
}
.button{
    display: inline-block;
    column-gap: 10px;
}
.button a:first-child{
    width: 121px;
    height: 57px;
    padding: 10px 30px;
    border-radius: 10px;
    border: 1px;
    background: #FAE3B6;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: black;
    transition: .4s;
}
.button a:first-child:hover{
    background:white;
    

}
.button a:last-child{
    width: 121px;
    height: 57px;
    padding: 10px 30px;
    border-radius: 10px;
    border: 1px;
    background: #FDBB57;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: black;
    transition: .4s;
    margin-left: 10px;
}
.button a:last-child:hover{
    background:white;

}
/*================
navbar end
============== */



/*================
banner start
============== */
.section_one{
    background-color: #FAE3B6;
    padding: 124PX 0PX;
}
.section_one .box .left{
    width: 50%;
}
.section_one .box .right{
    width: 50%;
}
.section_one h1{
    width:536px;
    font-family: "Poppins", sans-serif;
    font-size: 64px;
    font-weight: 600;
}
.section_one .left p{
     width: 531px;
     font-family:"Poppins", sans-serif;
     font-size: 22px;
    font-weight: 400;
    padding-top: 38px;
    padding-bottom: 76px;
}
.section_one .left a{
    width: 319px;
    padding: 25px 91px;
    background: #000;
    color: white;
    font-size: 24px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    border-radius: 10px;
    transition: .4s;
    border: 1px solid transparent;
}
.section_one .left:hover a{
    background: transparent;
    color: #000;
    border: 1px solid black;
}
/*================
banner end
============== */

/*================
collection start
============== */
.sec_two .box{
    justify-content: space-between;
    align-items: center;
}
.sec_two .container h1{
    font-family: "Frank Ruhl Libre", serif;
    font-weight: 700;
    font-size: 64px;
    color: black;
    padding-top: 217px;
    padding-bottom: 108px;
    text-align: center; 
}
.sec_two .collection{
    width: 350px;
    height: 400px;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
}
.sec_two .collection image{
    width: 100%;
    border-radius: 20px;
}
.sec_two .collection .sweater{
    width: 100% ;
    height: 100%;
    position: absolute;
    bottom: -137%;
    left: 5%;
    transition: .4s;
    
}
.sec_two .collection:hover .sweater{
        bottom: -73%;
     
}
.sec_two .collection .sweater a{
    width: 100%;
    padding: 10px 108px;
    border-radius: 20px;
    text-align: center;
    color: #000;
    font-size: 24px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    background-color: white;
}

/*================
collection end
============== */


/*================
fashion start
============== */
.fashion{
    position: relative;
}
.fashion .box{
    align-items: center;
}
.fashion .left{
    width: 70%;
    padding-top: 188px;
    padding-bottom: 335px;
    position: relative;
   
}
.fashion .right{
    width: 10%;
}
.fashion .right h1{
    width: 435px;
    font-family: "Frank Ruhl Libre", serif;
    font-weight: 700;
    font-size: 64px;
    color: black;

}
.fashion .right p{
    width: 443px;
    font-family:"Poppins", sans-serif;
    font-size: 24px;
    font-weight: 600;
    padding-top: 63px;
    padding-bottom: 132px;
}
.fashion .cardbox{
    width: auto;
    z-index: -1;
    border-radius: 20px;
    justify-content: space-between;
    align-items: center;
    padding: 66px 5px;
    position: absolute;
    bottom: 136px;
    right: 53px;
    display: flex;
    background: #FEECC8;
}
.fashion .cardbox .card h1{
    font-weight: 700;
    font-size: 64px;
    font-family: "Podkova", serif;
    padding-left: 42px;

}
.fashion .cardbox .card p{
    font-family:"Poppins", sans-serif;
    font-size: 28px;
    font-weight: 500;
    padding-top: 28px;
    /* width: auto; */
    padding-left: 42px;
}
.fashion .cardbox .card{
    border-right: 1px solid black;
    padding-right: 38px;
}
.fashion .cardbox .card:last-child{
    border-right: 0px;
}
.fashion .dot{
    position: absolute;
    bottom: -9%;
    left: 26%;
}
/*================
fashion end
============== */
/*================
last start
============== */
.last{
    width: 100%;
    height: 828px;
    background: #CFA485;
    margin-top: 142px;
}
.last .left{
    width: 40%;
}
.last .left h2{
    font-family: "Frank Ruhl Libre", serif;
    font-weight: 700;
    font-size: 64px;
    color: white;
    margin-top: 18px;
}
.last .left p{
    width: 87%;
    font-family: "Frank Ruhl Libre", serif;
    font-weight: 700;
    font-size: 24px;
    color: white;
    padding-top: 43px;
}
.last .left .third{
    padding-top: 128px;
    padding-bottom: 191px;
    width: 62%;
}
.last .left .third a{
    background: #000;
    color: white;
    padding: 24px 86px;
    font-family:"Poppins", sans-serif;
    font-size: 24px;
    font-weight: 600;
    border-radius: 10px;
    transition: .4s;
}
.last .left .third:hover a{
    background: transparent;
    border: 1px solid black;
    color: #000;
}
    
.last .right{
    width: 60% ;
    display: flex;
    
}
.last .right .c-one{
    width: 366px;
    height: 551px;
    margin: 10% 2%;
    background: white;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;  
  
}
/* .c-one{
    display: flex;
} */
.last .right .c-one .image-box{
    width: 100%;
    height: 424px;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
}
.last .right .c-one .image-box img{
    width: 100%;
    height: 100%;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
}
.c-one h2{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 22px;
    color: #000;

}
.c-one p{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #C4C4C4;

}
.c-one span{
    color: #000;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 24px;
    
}
.c-one .card-content{
    padding: 2% 5%;
}
.c-one div ul{
    display: flex;
    color: yellow;
}



/*================
last end
============== */